extends layout

block content
    h1.main.simple Classement du jeu
    p.desc
        | Le premier
        b  gagnera un CODE PROMO -50% sur la boutique
        |  rien que pour lui !&nbsp;
        i.em.em-heart_eyes
        br
        | Les autres auront le droit à une récompense aussi !&nbsp;
        i.em.em-grin
        br
        br
        | Seuls les 10 premiers sont affichés !

    .limiter
        .container-table100
            .wrap-table100
                .table100
                    table.ranking
                        thead
                            tr.table100-head
                                th.column1 # Position
                                th.column2 Nom du joueur
                                th.column3 Niveau
                                th.column4 Experience
                        tbody
                            for row in data
                                tr
                                    td # #{++i}
                                    td
                                        img.avatar(src="https://crafatar.com/renders/head/#{row.name}")
                                        span.username(style="font-weight:bold") #{row.name}

                                    td #{row.level_id}
                                    td #{row.total_experience.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}


    a(href="/jouer") Retour au jeu