extends layout

block content
    h1.main.simple Classement du jeu

    .limiter
        .container-table100
            .wrap-table100
                .table100
                    table.ranking
                        thead
                            tr.table100-head
                                th.column1 # Position
                                th.column2 Nom du joueur
                                th.column3 Niveau
                                th.column4 Experience
                        tbody
                            for row, i in data
                                tr
                                    td # #{++i}
                                    td
                                        img(src="https://crafatar.com/renders/head/#{row.name}" style="width:40px;float:left")
                                        span(style="font-weight:bold") #{row.name}

                                    td #{row.level_id}
                                    td #{row.experience}
